.custom-card {
  width: 300px; /* Set a fixed width for the card */
  min-width: 300px; /* Minimum width to ensure no resizing */
  max-width: 300px; /* Maximum width to prevent expansion */
}

.card {
  border: 1px solid #e0e0e0; /* Light gray border for a subtle separation */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px); /* Slight lift effect */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Enhanced shadow for depth */
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 70vw;
}
.text-muted {
  color: #6c757d; /* Muted text color for non-primary information */
}
.font-weight-bold {
  font-weight: bold; /* Emphasizes important data */
}
.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px; /* Size of the spinner */
  height: 60px; /* Size of the spinner */
  animation: spin 1s linear infinite;
}

.card-title {
  font-family: "Dancing Script", cursive; /* Elegant font */
  font-size: 24px; /* Reduced size for a classic feel */
  color: #333; /* Dark gray for a softer contrast */
  margin: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .custom-card {
    width: 100%; /* Allow the card to take full width on smaller screens */
  }
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
  border: none;
}
