<div class="container">
  <div class="row">
    <!-- Image Section -->
    <div class="col-md-6 image-section">
      <img src="assets/chat.svg" alt="Login Image" class="img-fluid" />
    </div>

    <!-- Form Section -->
    <div class="col-md-6 form-section">
      <div class="form-container">
        <h2 class="text-center mb-4">BBC Login</h2>

        <!-- Customer ID Form -->
        <form [formGroup]="customerForm" (ngSubmit)="onSendOtp()">
          <div class="form-group mb-3">
            <label for="customerId" class="form-label fw-bold"
              >Customer ID</label
            >
            <input
              type="text"
              id="customerId"
              formControlName="customerId"
              class="form-control border-primary"
              placeholder="Enter your Customer ID"
              required
            />
            <div
              *ngIf="
                customerForm.get('customerId')?.invalid &&
                customerForm.get('customerId')?.touched
              "
              class="text-danger mt-1"
            ></div>
            <div *ngIf="customerErrorMessage" class="text-danger mt-1">
              <i class="bi bi-exclamation-triangle"></i>
              {{ customerErrorMessage }}
            </div>
          </div>

          <!-- Send OTP Button -->
          <div *ngIf="!otpSent" class="text-center mb-3">
            <button
              type="submit"
              class="btn btn-primary btn-lg w-100"
              [disabled]="loading"
            >
              Send OTP
            </button>
          </div>
        </form>

        <!-- OTP Form -->
        <form
          *ngIf="otpSent"
          [formGroup]="otpForm"
          (ngSubmit)="onValidateOtp()"
        >
          <div class="form-group mb-3">
            <label for="enteredOtp" class="form-label fw-bold">Enter OTP</label>
            <input
              type="text"
              id="enteredOtp"
              formControlName="enteredOtp"
              class="form-control border-primary"
              placeholder="Enter the OTP"
              required
            />
            <div
              *ngIf="
                otpForm.get('enteredOtp')?.invalid &&
                otpForm.get('enteredOtp')?.touched
              "
              class="text-danger mt-1"
            ></div>
            <div *ngIf="otpErrorMessage" class="text-danger mt-1">
              <i class="bi bi-exclamation-triangle"></i> {{ otpErrorMessage }}
            </div>
          </div>

          <!-- Resend OTP Button -->
          <div class="text-center mb-3">
            <button
              type="button"
              class="btn btn-danger btn-lg w-100"
              (click)="onResendOtp()"
              [disabled]="countdown > 0 || loading"
            >
              {{
                countdown > 0
                  ? "Resend OTP in " + countdown + " seconds"
                  : "Resend OTP"
              }}
            </button>
          </div>

          <!-- Submit OTP Button -->
          <div class="text-center mb-3">
            <button
              type="submit"
              class="btn btn-primary btn-lg w-100"
              [disabled]="loading"
            >
              Submit
            </button>
          </div>
        </form>
        <!-- Loading Spinner -->
        <div *ngIf="loading" class="text-center mb-3">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
