<div class="container my-5 no-select">
  <div class="row justify-content-center">
    <div class="col-12 mb-4 d-flex justify-content-center search">
      <div class="w-75 mb-2">
        <input
          type="text"
          class="form-control custom-search"
          placeholder="Search by Transaction ID or Amount"
          [(ngModel)]="searchQuery"
          (input)="applyFilters()"
        />
      </div>
    </div>

    <!-- Filter Controls -->
    <div class="col-12 mb-5 d-flex justify-content-between align-items-center">
      <!-- Filter by Status -->
      <div class="w-25">
        <div class="custom-dropdown">
          <div class="dropdown-header" (click)="toggleDropdown('status')">
            {{ selectedStatus || "All Status" }}
            <span *ngIf="!showStatusDropdown" class="dropdown-arrow">
              <i class="fas fa-angle-down"></i>&nbsp;
            </span>
            <span *ngIf="showStatusDropdown" class="dropdown-arrow">
              <i class="fas fa-angle-up"></i>&nbsp;
            </span>
          </div>
          <div class="dropdown-list" *ngIf="showStatusDropdown">
            <div
              class="dropdown-item"
              *ngFor="let status of statuses"
              (click)="selectStatus(status)"
            >
              {{ status }}
            </div>
          </div>
        </div>
      </div>

      <!-- Filter by Payment Method -->
      <div class="w-25">
        <div class="custom-dropdown">
          <div class="dropdown-header" (click)="toggleDropdown('payment')">
            {{ selectedPaymentMethod || "All Payment Methods" }}
            <span *ngIf="!showPaymentMethodDropdown" class="dropdown-arrow">
              <i class="fas fa-angle-down"></i>&nbsp;
            </span>
            <span *ngIf="showPaymentMethodDropdown" class="dropdown-arrow">
              <i class="fas fa-angle-up"></i>&nbsp;
            </span>
          </div>
          <div class="dropdown-list" *ngIf="showPaymentMethodDropdown">
            <div
              class="dropdown-item"
              *ngFor="let method of paymentMethods"
              (click)="selectPaymentMethod(method)"
            >
              {{ method }}
            </div>
          </div>
        </div>
      </div>
      <!-- =================================================================== -->
      <!-- Date Sorting Dropdown -->
      <div class="w-25">
        <div class="custom-dropdown">
          <!-- Dropdown Header for Sort by Date -->
          <div class="dropdown-header" (click)="toggleDropdown('date')">
            {{ sortDateOrder || "Sort by Date" }}

            <!-- Icon to indicate dropdown state (up/down) -->
            <span *ngIf="!showDateDropdown" class="dropdown-arrow">
              <i class="fas fa-angle-down"></i>&nbsp;
            </span>
            <span *ngIf="showDateDropdown" class="dropdown-arrow">
              <i class="fas fa-angle-up"></i>&nbsp;
            </span>
          </div>

          <!-- Dropdown List for Date Sorting Options -->
          <div class="dropdown-list" *ngIf="showDateDropdown">
            <div
              class="dropdown-item"
              *ngFor="let option of sortOptions"
              (click)="selectSortDateOrder(option)"
            >
              {{ option }}
            </div>
          </div>
        </div>
      </div>

      <!-- Sort by Amount -->
      <div class="w-25">
        <div class="custom-dropdown">
          <div class="dropdown-header" (click)="toggleDropdown('sort')">
            {{ sortOrder === "asc" ? "Low to High" : "High to Low" }}
            <span *ngIf="!showSortDropdown" class="dropdown-arrow">
              <i class="fas fa-angle-down"></i>&nbsp;
            </span>
            <span *ngIf="showSortDropdown" class="dropdown-arrow">
              <i class="fas fa-angle-up"></i>&nbsp;
            </span>
          </div>
          <div class="dropdown-list" *ngIf="showSortDropdown">
            <div class="dropdown-item" (click)="selectSortOrder('asc')">
              Low to High
            </div>
            <div class="dropdown-item" (click)="selectSortOrder('desc')">
              High to Low
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="loading; else transactionList">
      <div class="loader-container">
        <div class="spinner"></div>
      </div>
    </ng-container>

    <ng-template #transactionList>
      <ng-container *ngIf="transactions.length > 0; else noTransactionTemplate">
        <div class="row">
          <div
            class="col-12 mb-4"
            *ngFor="let transaction of transactions; let i = index"
          >
            <div class="card shadow border-0 mb-3">
              <div
                class="card-header d-flex justify-content-between align-items-center bg-light"
              >
                <div class="d-flex align-items-center">
                  <ng-container
                    *ngIf="transaction.status === 'SUCCESS'; else errorTemplate"
                  >
                    <i
                      class="fas fa-check-circle text-success"
                      style="font-size: 24px"
                    ></i>
                    <span class="text-success font-weight-bold ml-2"
                      >&nbsp;Payment Successful</span
                    >
                  </ng-container>
                  <ng-template #errorTemplate>
                    <i
                      class="fas fa-times-circle text-danger"
                      style="font-size: 24px"
                    ></i>
                    <span class="text-danger font-weight-bold ml-2"
                      >&nbsp;Payment Failed</span
                    >
                  </ng-template>
                </div>
                <span class="font-weight-bold text-primary">
                  {{ transaction.amount | currency : "INR" }}
                </span>
              </div>
              <div
                class="card-body"
                (click)="toggleTransaction(i)"
                style="cursor: pointer"
              >
                <h5 class="card-title">
                  Transaction #{{ transaction.transactionId }}
                </h5>
                <div class="d-flex justify-content-between">
                  <span
                    >Transaction Date:
                    {{
                      transaction.transactionDate | date : "MMM d, y, h:mm a"
                    }}</span
                  >
                  <span>
                    <i
                      class="fas"
                      [ngClass]="
                        isTransactionOpen(i)
                          ? 'fa-chevron-up'
                          : 'fa-chevron-down'
                      "
                      style="font-size: 20px"
                    ></i>
                  </span>
                </div>
              </div>

              <div class="collapse" [ngClass]="{ show: isTransactionOpen(i) }">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <p class="font-weight-bold">Payment Method:</p>
                      <span>
                        <span
                          *ngIf="transaction.paymentMethod === 'cash'"
                          class="cash-icon"
                          >💵</span
                        >
                        <span
                          *ngIf="transaction.paymentMethod === 'card'"
                          class="card-icon"
                          >💳</span
                        >
                        <span
                          *ngIf="transaction.paymentMethod === 'wallet'"
                          class="wallet-icon"
                          >💰</span
                        >
                        {{ transaction.paymentMethod.toUpperCase() }}
                      </span>
                    </div>
                    <div class="col-md-6">
                      <p class="font-weight-bold">Invoice Details:</p>
                      <span
                        >Invoice ID: #{{ transaction.invoice.invoice_id }}</span
                      ><br />
                      <span
                        >Invoice Status: {{ transaction.invoice_status }}</span
                      ><br />
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-12">
                      <p class="font-weight-bold">Additional Information:</p>
                      <span>Transaction Status: {{ transaction.status }}</span
                      ><br />

                      <span
                        >Transaction Date:
                        {{ transaction.transactionDate || "N/A" }}</span
                      ><br />
                    </div>
                    <button
                      *ngIf="transaction.status === 'SUCCESS'"
                      class="btn btn-primary"
                      (click)="downloadPdf(transaction)"
                    >
                      Download
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-template>

    <ng-template #noTransactionTemplate>
      <div class="col-12 text-center mt-5">
        <div class="no-transactions-container">
          <i
            class="fas fa-folder-open"
            style="font-size: 60px; color: #ffc107"
          ></i>
          <h4 class="text-muted mt-3">No Transactions Available</h4>
          <p class="text-secondary mb-4">
            It seems you haven't made any transactions yet. Start managing your
            bills today!
          </p>
          <button
            class="btn btn-primary"
            style="border-radius: 25px; font-weight: 600; padding: 10px 20px"
            (click)="navigateToBills()"
          >
            View Bills
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
